<h1><%= @cat.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Color</th>
    <th>Sex</th>
    <th><%= "Description" unless @cat.description.nil? %></th>
  </tr>
  <tr>
    <td><%= @cat.name %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
    <td><%= @cat.sex %></td>
    <td><%= @cat.description unless @cat.description.nil? %></td>
  </tr>
</table>

<%= link_to "All Cats", cats_url %>