<% action_url = @request.persisted? ? cat_cat_rental_request_url(@request) : cat_rental_requests_url %>
<% form_method = @request.persisted? ? "PATCH" : "POST" %>
<% submit_text = @request.persisted? ? "Update" : "Submit" %>

<form action="<%= action_url %>" method="POST">
   <input type="hidden" name="_method" value="<%= form_method %>">
  
  <label for="start_date">Start Date</label>
  <input name="request[start_date]"
         id="request_start_date"
         type="date"
         value="<%= @request.start_date %>">
  <br>
  
  <label for="end_date">End Date</label>
  <input name="request[end_date]"
         id="request_end_date"
         type="date"
         value="<%= @request.end_date %>">
  <br>
  
  <label for="cats">Cats</label>
  <select 
    name="cats" 
    id="cat">
    <option value="blank"></option>
    <% @cats.each do |cat| %>
      <option value="<%= cat %>" <%= "selected" if @request.cat == cat %>>
        <%= cat.name %>
      </option>
      <% end %>
  </select>
  
  <br>
  
  <input type="submit" value="<%= submit_text %>">
</form>
