<h1><%= @sub.title %></h1>
<% if current_user == @mod %>
  <%= link_to "edit sub", edit_sub_url(@sub) %>
<% end %>
<h4>Moderator: <%= link_to @mod.username, user_url(@mod) %></h4>

<h4>Sub-Blueit Description: </h4>
<p><%= @sub.description %></p>

<h4>Posts:</h4>
<ul>
<% @posts.each do |post| %>
  <li><%= link_to post.title, post_url(post) %></li>
<% end %>
</ul>

<%= link_to "new post", new_sub_post_url(@sub) %>