<h1>The album <%= @album.name %></h1>

<h2>Band: <%= link_to @album.band_name, band_url(album.band) %></h2>
<h2>Style: <%= @album.style %></h2>
<h2>Tracks:</h2>
<ul>
<% @tracks.each do |track| %>
	<li><%= link_to track.name, track_url(track) %></li>
<% end %>
</ul>

<%= link_to "Edit", edit_album_url(@album) %>

<form 
	action="<%= album_url(@album) %>" 
	method="POST">
	<input
		type="hidden"
		name="_method"
		value="DELETE">
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>">
	<input type="submit" value="Delete Album">
</form>
